@model MVC_Login_Register.Models.UserModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.FullName, new { placeholder = "Full Name" })
    <br />
    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
    <br />
    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
    <br />

    <button type="submit">Register</button>
}
